@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #DAE3E9;
}

.clearfix {
    clear: both;
}

.row {
    width: 80%;
    margin: auto;
    height: 500px;
    background: white;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.562);
}

.top--bar {
    background: #128cad;
    height: 40px;
    position: fixed;
    top: 0;
    width: 80%;
}

.top--bar a {
    text-decoration: none;
    color: white;
    padding: 0 6px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 40px;
}

.top--bar a:hover {
    color: #FF9900;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 80%;
    top: 40px;
    background: white;
}

.logo a {
    height: 70px;
    display: block;
}

.logo a img {
    height: 100%;
}

nav {
    /* border: 1px solid;  */
    width: 100%;
}

 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
}

 nav ul li {
    display: inline;
    padding: 20px;
}

nav ul li:hover {
    background: #FF9900;
}

nav ul li a {
    text-decoration: none;
    padding-bottom: 4px;
}

nav ul li a:hover {
    color: white;
    border-bottom: 2px solid white;
}

nav ul li:last-child {
    padding-right: 2px;
}

.slider {
    width: 100%;
    padding: 20px;
    margin-top: 110px;
}

.img-container  {
    width: 100%;
    height: 666px;
}

.img-container img {
    width: 100%;
    height: 69%;
}

.about {
    margin-top: 34px;
}

.about .row {
    background:#DAE3E9;
    box-shadow: none;
    display: flex;
    height: 307px;
    margin-bottom: 30px;
}

.left--content {
    width: 250px;
    height: 305px;
    padding: 20px;
    background: white;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.562);
    width: 20%;
    display: grid;
    justify-content: center;
    grid-auto-rows: min-content;
    margin-right: 20px;
}

.left--content .title {
    color: #FF9900;
    padding: 20px 0;
}

.left--content ul {
    list-style: none;
    
}

.left--content ul li {
    font-size: 0.9rem;
}

.right--content {
    width: 80%;
    background: white;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.562);
    height: 305px;
    padding: 20px;
}

.title {
    color: #FF9900;
}

.right--content .title {
    font-size: 1.2rem;
    padding: 12px 0;
}
.right--content p {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 12px;
}

.products .row {
    height: 400px;
    width: 80%;
    /* border: 2px solid; */
    margin-bottom: 34px;
    position: relative;
}

.products .title {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    padding: 16px 0;
}

.col {
    width: 28%;
    height: 250px;
    border: 1px solid #ff9900;
    font-family: 'Roboto', sans-serif;
}

.col:hover {
    /* box-shadow: 0 0 18px rgba(0, 0, 0, 0.308); */
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    transition: .5s
}

.panel-heading {
    background: #FF9900;
    width: 100%;
    height: 40px;
    
}

.panel-heading-title {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1px;
}

.loan {
    position: absolute;
    left: 5%;
}

.loan p,
.saving p,
.remittance p {
    padding: 20px;
    text-align: justify;
    color: #3b3b3b;
    font-family: inherit;
}

.saving {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/Saving.jpg');
    background-repeat: no-repeat;
}

.remittance {
    position: absolute;
    right: 5%;
    background: url('../img/Remittance.jpg');
    background-repeat: no-repeat;
}

.footer {
    width: 100%;
    height: 60px;
    background: #006DA2;
}

.footer p{
    text-align: center;
    color: white;
    font-size: .9rem;
    line-height: 60px;
}
