.row {
    height:800px;
    margin-bottom: 34px;
}

.img-container {
    margin-top: 110px;
    background: white;
    padding: 15px;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.562);
}

.img-container div {
    display: inline;
}

.img-container img {
    width: 33%;
    height: 250px;
}